﻿
@mixin lightFont {

    font: {
        family: 'Lato', sans-serif;
        weight: lighter;
    }
}

@mixin no-margin-line {

    line-height: 70px;
    margin: 0;
}

body {
    margin: 0;
}

.top-container {
    background: #000;
    max-height: 70px;
    position: fixed;

    .top-container__logo {
        padding-left: 20px;

        .top-container__heading {
            font: {
                family: 'Julius Sans One', sans-serif;
                weight: lighter;
            }
            @include no-margin-line;
        }
    }

    .top-container__icons {

        .top-container__icons-size {
            border-radius: 100%;
            border: 1px dashed #fff;
            font-size: 22px;
            height: 40px;
            margin-right: 20px;
            padding-top: 5px;
            transition: background 0.3s;
            width: 40px;
        }

        .top-container__icons--Facebook {

            &:hover {
                background: #3C5B9B;
            }
        }

        .top-container__icons--Instagram {

            &:hover {
                background: #C2433D;
            }
        }
    }

    .top-container__menu {
        max: {
            height: 70px;
            width: 600px;
        }

        .top-container__menu-list {
            flex-wrap: wrap;
            @include no-margin-line;
        }

        .top-container__menu-button {
            @include lightFont;
            font-size: 18px;
            text-transform: uppercase;
            padding: 0px 20px;

            @media screen and (max-width: 991px) {
                padding: 0 10px;
            }

            & > a {
                color: #fff;
                display: table-cell;
                opacity: 1;
                vertical-align: middle;

                &:hover {
                    color: #ffd800;
                    text-decoration: none;
                }
            }
        }
    }
}

.poster-container {

    .poster-container__img {
        background-repeat: no-repeat;
        background-image: url('../images/poster.jpg');
        background-size: cover;
        background-position: center center;
        min-height: 460px;
    }
}

.main-container {
    margin: 45px auto;
    max-width: 700px;
    @include lightFont;

    .content-description {
        margin-bottom: 40px;
        max-width: 700px;

        .content-description__text {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

.card-container {

    &:nth-of-type(3) {
        margin-top: 35px;
    }

    .content-card {
        border: 1px solid #e5e5e5;
        max-width: 330px;
        min-height: 330px;

        .content-card__img {
            max-width: 330px;
        }

        .content-card__text {
            padding: 15px;
        }
    }
}

.footer-container {
    background: #000;
    min-height: 125px;
}
