﻿body {
  margin: 0; }

.top-container {
  background: #000;
  max-height: 70px;
  position: fixed; }
  .top-container .top-container__logo {
    padding-left: 20px; }
    .top-container .top-container__logo .top-container__heading {
      font-family: 'Julius Sans One', sans-serif;
      font-weight: lighter;
      line-height: 70px;
      margin: 0; }
  .top-container .top-container__icons .top-container__icons-size {
    border-radius: 100%;
    border: 1px dashed #fff;
    font-size: 22px;
    height: 40px;
    margin-right: 20px;
    padding-top: 5px;
    transition: background 0.3s;
    width: 40px; }
  .top-container .top-container__icons .top-container__icons--Facebook:hover {
    background: #3C5B9B; }
  .top-container .top-container__icons .top-container__icons--Instagram:hover {
    background: #C2433D; }
  .top-container .top-container__menu {
    max-height: 70px;
    max-width: 600px; }
    .top-container .top-container__menu .top-container__menu-list {
      flex-wrap: wrap;
      line-height: 70px;
      margin: 0; }
    .top-container .top-container__menu .top-container__menu-button {
      font-family: 'Lato', sans-serif;
      font-weight: lighter;
      font-size: 18px;
      text-transform: uppercase;
      padding: 0px 20px; }
      @media screen and (max-width: 991px) {
        .top-container .top-container__menu .top-container__menu-button {
          padding: 0 10px; } }
      .top-container .top-container__menu .top-container__menu-button > a {
        color: #fff;
        display: table-cell;
        opacity: 1;
        vertical-align: middle; }
        .top-container .top-container__menu .top-container__menu-button > a:hover {
          color: #ffd800;
          text-decoration: none; }

.poster-container .poster-container__img {
  background-repeat: no-repeat;
  background-image: url("../images/poster.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 460px; }

.main-container {
  margin: 45px auto;
  max-width: 700px;
  font-family: 'Lato', sans-serif;
  font-weight: lighter; }
  .main-container .content-description {
    margin-bottom: 40px;
    max-width: 700px; }
    .main-container .content-description .content-description__text {
      font-size: 16px;
      line-height: 24px; }

.card-container:nth-of-type(3) {
  margin-top: 35px; }

.card-container .content-card {
  border: 1px solid #e5e5e5;
  max-width: 330px;
  min-height: 330px; }
  .card-container .content-card .content-card__img {
    max-width: 330px; }
  .card-container .content-card .content-card__text {
    padding: 15px; }

.footer-container {
  background: #000;
  min-height: 125px; }

